*{
    font-family: Palatino, 'Times New Roman', 'Serif';
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


img{
    border-radius: 10px;
    height: 140px;
    width: 140px;
}

.header img{
    margin: 0;
    background-color: rgb(64, 69, 75);
    height: 110px;
    width: 120px;
}

li, .header-a{
    color: white;
}

.header{
    color: white;
    background-color: rgb(64, 69, 75);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header p{
    font-size: 22px;
    font-weight: 900;
}

ul{
    display: flex;
    gap: 20px;
}



.under-header{
    background-color:rgb(64, 69, 75);
    display: flex;
    flex:auto;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 40px 70px;
}

.under-header *{
    color: whitesmoke;
}

.under-header h1{
    font-size: 40px;
}

.under-header button{
    font-weight: 900;
    border-radius: 10px;
    background-color: rgb(64, 69, 75);
    border-color: rgb(101, 101, 247);
    height: 40px;
    width: 120px;
    padding: 8px 15px;
}

.under-header .first-block{
    display: flex;
    flex-direction: column;
    flex:initial;
    gap: 10px;
    height: 200px;
    width:350px;
    padding: 10px;
}

.placeholder{
    background-color: gray;
    display: flex;
    flex-shrink: 100px;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 450px;
    border-radius: 10px;
    box-shadow:   rgb(177, 174, 174) 0 0 30px 10px;
}
.placeholder img{
    height: 100%;
    width: 100%;
    
}

.random-information{
    display: flex;
    flex:auto;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px 20px 70px 20px;
}

.random-information h1{
    font-size: 35px;
}
.images{
    display: flex;
    gap: 30px;
}

.random-information-title{
    display: flex;
}

.images .img-info,
a{
    max-width: 200px;
    text-align: center;
    font-size: 24px;
    color: black;
}

.quote{
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.quote-content{
    font-size: 28px;
    display: flex;
    width: 500px;
    margin-bottom: 10px;
}

.quote2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: initial;
    font-size: 18px;
}

.call-action{
    display: flex;
    flex:auto;
    justify-content: center;
    color: white;
}

.call-action-container{
    background-color: rgb(101, 101, 247);
    display: flex;
    flex-basis: 600px;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 40px;
    margin: 70px;
    border-radius: 20px;
}

.call-action-text{
    display: flex;
    flex-direction: column;
}

.call-action button{
    font-size: 15px;
    font-weight: 900;
    color: white;
    background-color: rgb(101, 101, 247);
    border-color: white;
    border-radius:10px;
    height: 40px;
    width: 120px;
}

.footer{
    background-color: rgb(108, 109, 110);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
    padding: 20px;
}

.footer p{
    font-size: 20px;
    font-weight: 900;
}